.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.question-card {
    display: none;
}

.question-card.active {
    display: block;
}

.previous-button {
    display: none;
}

.previous-button.active {
    display: block;
}

.next-button {
    display: none;
}

.next-button.active {
    display: block;
}

.submit-button {
    display: none;
}

.submit-button.active {
    display: block;
}

.form-body {
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 6px 0px rgb(255 255 255)

}

.formstyle {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.prev-next-direction {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question-options {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6% 6% 6% 6%;
}

.rstyle {
    display: none;
}

.timer {
    display: none;
}

.svg-item {
    width: 50%;
    font-size: 16px;
    margin: 0 auto;
    animation: donutfade 1s;
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment-1 {
    transform-origin: center;
    stroke: #348fdb;
}

.donut-segment-2 {
    stroke: #ea3b3b;
    animation: donut1 3s;
}

.donut-segment-3 {
    stroke: #2ce217;
    animation: donut2 3s;
}

.donut-segment-4 {
    stroke: #a418ea;
    animation: donut3 3s;
}

.donut-segment-5 {
    stroke: #e7a833;
    animation: donut3 3s;
}

.segment-1 {
    fill: #348fdb;
}

.segment-2 {
    fill: #ea3b3b;
}

.segment-3 {
    fill: #2ce217;
}

.segment-4 {
    fill: #a418ea;
}

.segment-5 {
    fill: #e7a833;
}

@keyframes donutfade {
    /* this applies to the whole svg item wrapper */
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*@keyframes donut1 {*/
/*    0% {*/
/*        stroke-dasharray: 0, 100;*/
/*    }*/
/*    100% {*/
/*        stroke-dasharray: 50, 50;*/
/*    }*/
/*}*/

/*@keyframes donut2 {*/
/*    0% {*/
/*        stroke-dasharray: 0, 100;*/
/*    }*/
/*    100% {*/
/*        stroke-dasharray: 30, 70;*/
/*    }*/
/*}*/

/*@keyframes donut3 {*/
/*    0% {*/
/*        stroke-dasharray: 0, 100;*/
/*    }*/
/*    100% {*/
/*        stroke-dasharray: 1, 99;*/
/*    }*/
/*}*/

/*@keyframes donut4 {*/
/*    0% {*/
/*        stroke-dasharray: 0, 100;*/
/*    }*/
/*    100% {*/
/*        stroke-dasharray: 1, 99;*/
/*    }*/
/*}*/

/*@keyframes donut5 {*/
/*    0% {*/
/*        stroke-dasharray: 0, 100;*/
/*    }*/
/*    100% {*/
/*        stroke-dasharray: 1, 99;*/
/*    }*/
/*}*/

.donut-percent {
    animation: donutfadelong 1s;
}

.donut-data {
    font-size: 0.2em;
    font-weight: bold;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color: #666;
    fill: #666;
    animation: donutfadelong 1s;
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: #FF6200;
}

.donut-text-1 {
    fill: #348fdb;
}

.donut-text-2 {
    fill: #ea3b3b;
}

.donut-text-3 {
    fill: #2ce217;
}

.donut-text-4 {
    fill: #a418ea;
}

.donut-text-5 {
    fill: #e7a833;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}