.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.question-card {
    display: none;
}

.question-card.active {
    display: block;
}

.previous-button {
    display: none;
}

.previous-button.active {
    display: block;
}

.next-button {
    display: none;
}

.next-button.active {
    display: block;
}

.submit-button {
    display: none;
}

.submit-button.active {
    display: block;
}

.form-body {
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 6px 0px rgb(255 255 255)

}

.formstyle {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.prev-next-direction {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question-options {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6% 6% 6% 6%;
}

.rstyle {
    display: none;
}

.timer {
    display: none;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: transform3d(0, 0, 0);
}

body {
	font-family: sans-serif;
	background: #e1e1e1;
}

.card {
	float: left;
	background: #fff;
	padding: 20px;
	margin: 0 20px 0 0;
}

/*// Donut Chart Mixin*/
.donut-chart {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.donut-chart .quad {
	position: absolute;
	top: 0;
	left: 0;
}

.donut-chart .chart-center {
	position: absolute;
	border-radius: 50%;
}

.donut-chart .chart-center span {
	display: block;
	text-align: center;
}

@-webkit-keyframes chart1 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(241.2deg);
	}
}

@-webkit-keyframes chartRotate2 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(90deg);
	}
}

@-webkit-keyframes chartRotate3 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes chartRotate4 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-webkit-keyframes chartCover {
	0%, 90% {
		opacity: 1;
	}

	91%, 100% {
		opacity: 0;
	}
}

.donut-chart.chart1 {
	width: 150px;
	height: 150px;
	background: #e1e1e1;
}

.donut-chart.chart1 .quad {
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}

.donut-chart.chart1 .quad.one {
	-webkit-transform: rotate(241.2deg);
	-webkit-transform-origin: bottom right;
	background: #48b2c1;
	-webkit-animation: chart1 1s linear;
	display: block;
}

.donut-chart.chart1 .quad.two {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom right;
	background: #48b2c1;
	-webkit-animation: chartRotate2 1s linear;
	display: block;
}

.donut-chart.chart1 .quad.three {
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: bottom right;
	background: #48b2c1;
	-webkit-animation: chartRotate3 1s linear;
	display: block;
}

.donut-chart.chart1 .quad.four {
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom right;
	background: #48b2c1;
	-webkit-animation: chartRotate4 1s linear;
}

.donut-chart.chart1 .quad.top {
	display: block;
	background: #e1e1e1;
}

.donut-chart.chart1 .chart-center {
	top: 15px;
	left: 15px;
	width: 120px;
	height: 120px;
	background: #fff;
}

.donut-chart.chart1 .chart-center:after {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #48b2c1;
	text-align: center;
	line-height: 120px;
	content: "67%";
}

@-webkit-keyframes chart2 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(133.2deg);
	}
}

@-webkit-keyframes chartRotate2 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(90deg);
	}
}

@-webkit-keyframes chartRotate3 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes chartRotate4 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-webkit-keyframes chartCover {
	0%, 90% {
		opacity: 1;
	}

	91%, 100% {
		opacity: 0;
	}
}

.donut-chart.chart2 {
	width: 150px;
	height: 150px;
	background: #e1e1e1;
}

.donut-chart.chart2 .quad {
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}

.donut-chart.chart2 .quad.one {
	-webkit-transform: rotate(133.2deg);
	-webkit-transform-origin: bottom right;
	background: #f26a4a;
	-webkit-animation: chart2 1s linear;
	display: block;
}

.donut-chart.chart2 .quad.two {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom right;
	background: #f26a4a;
	-webkit-animation: chartRotate2 1s linear;
	display: block;
}

.donut-chart.chart2 .quad.three {
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: bottom right;
	background: #f26a4a;
	-webkit-animation: chartRotate3 1s linear;
}

.donut-chart.chart2 .quad.four {
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom right;
	background: #f26a4a;
	-webkit-animation: chartRotate4 1s linear;
}

.donut-chart.chart2 .quad.top {
	display: block;
	background: #e1e1e1;
}

.donut-chart.chart2 .chart-center {
	top: 15px;
	left: 15px;
	width: 120px;
	height: 120px;
	background: #fff;
}

.donut-chart.chart2 .chart-center:after {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #f26a4a;
	text-align: center;
	line-height: 120px;
	content: "37%";
}

@-webkit-keyframes chart3 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(61.2deg);
	}
}

@-webkit-keyframes chartRotate2 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(90deg);
	}
}

@-webkit-keyframes chartRotate3 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes chartRotate4 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-webkit-keyframes chartCover {
	0%, 90% {
		opacity: 1;
	}

	91%, 100% {
		opacity: 0;
	}
}

.donut-chart.chart3 {
	width: 150px;
	height: 150px;
	background: #e1e1e1;
}

.donut-chart.chart3 .quad {
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}

.donut-chart.chart3 .quad.one {
	-webkit-transform: rotate(61.2deg);
	-webkit-transform-origin: bottom right;
	background: #353535;
	-webkit-animation: chart3 1s linear;
	display: block;
}

.donut-chart.chart3 .quad.two {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom right;
	background: #353535;
	-webkit-animation: chartRotate2 1s linear;
}

.donut-chart.chart3 .quad.three {
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: bottom right;
	background: #353535;
	-webkit-animation: chartRotate3 1s linear;
}

.donut-chart.chart3 .quad.four {
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom right;
	background: #353535;
	-webkit-animation: chartRotate4 1s linear;
}

.donut-chart.chart3 .quad.top {
	display: block;
	background: #e1e1e1;
}

.donut-chart.chart3 .chart-center {
	top: 15px;
	left: 15px;
	width: 120px;
	height: 120px;
	background: #fff;
}

.donut-chart.chart3 .chart-center:after {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #353535;
	text-align: center;
	line-height: 120px;
	content: "17%";
}

@-webkit-keyframes chart4 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(334.8deg);
	}
}

@-webkit-keyframes chartRotate2 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(90deg);
	}
}

@-webkit-keyframes chartRotate3 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes chartRotate4 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-webkit-keyframes chartCover {
	0%, 90% {
		opacity: 1;
	}

	91%, 100% {
		opacity: 0;
	}
}

.donut-chart.chart4 {
	width: 150px;
	height: 150px;
	background: #e1e1e1;
}

.donut-chart.chart4 .quad {
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}

.donut-chart.chart4 .quad.one {
	-webkit-transform: rotate(334.8deg);
	-webkit-transform-origin: bottom right;
	background: #50C690;
	-webkit-animation: chart4 1s linear;
	display: block;
}

.donut-chart.chart4 .quad.two {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom right;
	background: #50C690;
	-webkit-animation: chartRotate2 1s linear;
	display: block;
}

.donut-chart.chart4 .quad.three {
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: bottom right;
	background: #50C690;
	-webkit-animation: chartRotate3 1s linear;
	display: block;
}

.donut-chart.chart4 .quad.four {
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom right;
	background: #50C690;
	-webkit-animation: chartRotate4 1s linear;
	display: block;
}

.donut-chart.chart4 .quad.top {
	display: block;
	background: #e1e1e1;
	opacity: 0;
	-webkit-animation: chartCover 0.01s linear 0.83333s both;
}

.donut-chart.chart4 .chart-center {
	top: 15px;
	left: 15px;
	width: 120px;
	height: 120px;
	background: #fff;
}

.donut-chart.chart4 .chart-center:after {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #50C690;
	text-align: center;
	line-height: 120px;
	content: "93%";
}

@-webkit-keyframes chart5 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(334.8deg);
	}
}

@-webkit-keyframes chartRotate2 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(90deg);
	}
}

@-webkit-keyframes chartRotate3 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes chartRotate4 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-webkit-keyframes chartCover {
	0%, 90% {
		opacity: 1;
	}

	91%, 100% {
		opacity: 0;
	}
}

.donut-chart.chart5 {
	width: 150px;
	height: 150px;
	background: #e1e1e1;
}

.donut-chart.chart5 .quad {
	width: 75px;
	height: 75px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}

.donut-chart.chart5 .quad.one {
	-webkit-transform: rotate(334.8deg);
	-webkit-transform-origin: bottom right;
	background: #e221ee;
	-webkit-animation: chart5 1s linear;
	display: block;
}

.donut-chart.chart5 .quad.two {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom right;
	background: #e221ee;
	-webkit-animation: chartRotate2 1s linear;
	display: block;
}

.donut-chart.chart5 .quad.three {
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: bottom right;
	background: #e221ee;
	-webkit-animation: chartRotate3 1s linear;
	display: block;
}

.donut-chart.chart5 .quad.four {
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom right;
	background: #e221ee;
	-webkit-animation: chartRotate4 1s linear;
	display: block;
}

.donut-chart.chart5 .quad.top {
	display: block;
	background: #e1e1e1;
	opacity: 0;
	-webkit-animation: chartCover 0.01s linear 0.83333s both;
}

.donut-chart.chart5 .chart-center {
	top: 15px;
	left: 15px;
	width: 120px;
	height: 120px;
	background: #fff;
}

.donut-chart.chart5 .chart-center:after {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #e221ee;
	text-align: center;
	line-height: 120px;
	content: "93%";
}